{{ define "main" }}
<section class="mt-0">
  {{ if .Page.Params.topPageimg }}
  {{ partial "topPageimg" . -}}
  {{ end }}
  <header class="my-4">
    <h1>{{ .Title }}
      {{ if .Page.Params.subtitle }}
      <small class="text-muted">
        {{ .Page.Params.subtitle }}
      </small>
      {{ end }}
    </h1>
    <div class="divider"></div>
    <div class="description-lead">
      {{ .Description }}
      {{ if .Page.Params.announce }}
      {{ .Page.Params.announce }}
      {{ end }}
    </div>
  </header>
  {{- partial "toc-collapse" . -}}
  {{ .Content }}
</section>
{{ end }}