<!-- Button trigger modal -->
<div class="mb-3">
  <a class="btn btn-link" href="#homeModal_1" role="button" data-bs-toggle="modal" data-bs-target="#homeModal_1">
    <img src="images/noon_top.jpeg" width="100%" alt="...">
  </a>
</div>
<!-- Modal -->
<div class="modal fade" id="homeModal_1" tabindex="-1" aria-labelledby="homeModal_1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="homeModal_1Label">Все-таки она вертится</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="carouselHomeModal_1Controls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {{ with .Page.Resources.Match "images/homemodal_etud/*" }}
            <div class="carousel-item active">
              <img src="images/homemodal_etud/noon_ramka.jpg" class="h-auto" alt="...">
            </div>
            {{ range . }}
            <div class="carousel-item">
              <div class="text-center">
                <img src="{{ .RelPermalink }}" class="h-auto" alt="...">
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselHomeModal_1Controls"
            data-bs-slide="prev">
            <svg xmlns='http://www.w3.org/2000/svg' width="32" height="32" viewBox='0 0 16 16' fill="#ffcc33">
              <path
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                <svg>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselHomeModal_1Controls"
            data-bs-slide="next">
            <svg xmlns='http://www.w3.org/2000/svg' width="32" height="32" viewBox='0 0 16 16' fill="#ffcc33">
              <path
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                <svg>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link" href="/cmir/" role="button">Смотреть все</a>
      </div>
    </div>
  </div>
</div>