{{ define "main" }}
<section>
  <header class="my-auto">
    <h1 class="mb-1">{{ .Title }}
      {{ if .Page.Params.subtitle }}
      <small class="text-muted">
        {{ .Page.Params.subtitle }}
      </small>
      {{ end }}
    </h1>
    <div class="divider"></div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 ">

      <div class="card-image card-image-blog p-0">
        {{ if .Params.image }}
        <img src="{{ .Params.image }}" alt="{{ .Title }}" class="card-img-bottom img-fluid">
        {{ end }}
        {{ if .Params.video }}
        <video loop autoplay muted playsinline class="img-title">
          <source src="{{ .Params.video }}">
        </video>
        {{ end }}
      </div>
    </div>
  </div>
    {{ if .Page.Params.topPageimg }}
    {{- partial "topPageimg" . -}}
    {{ end }}
    <div class="description-lead">
      {{ .Description | truncate 160 }}
      {{ if .Page.Params.announce }}
      {{ .Page.Params.announce }}
      {{ end }}
    </div>
    {{- partial "toc-collapse" . -}}
  </header>

  {{ .Content }}
  {{- partial "author" . -}}
</section>
{{ end }}
