{{- $css  := resources.Get "css/bootstrap.css" -}}
{{- $css1 := resources.Get "css/bundle-rfi.css" -}}
{{- $css2 := resources.Get "css/refreshing.css" -}}

{{- if .Site.Params.cssMinify -}}

{{- $css  = $css  | resources.Minify -}}
{{- $css1 = $css1 | resources.Minify -}}
{{- $css2 = $css2 | resources.Minify -}}

{{- end -}}

{{- if .Site.Params.cssIntegrity -}}

{{- $css  = $css  | resources.Fingerprint -}}
{{- $css1 = $css1 | resources.Fingerprint -}}
{{- $css2 = $css2 | resources.Fingerprint -}}


{{- end -}}

{{- if .Site.Params.cssIntegrity -}}

<link rel="stylesheet" type="text/css" href="{{- $css.Permalink  | relURL -}}" integrity="{{- $css.Data.Integrity -}}">
<link rel="stylesheet" type="text/css" href="{{- $css1.Permalink | relURL -}}" integrity="{{- $css1.Data.Integrity -}}">
<link rel="stylesheet" type="text/css" href="{{- $css2.Permalink | relURL -}}" integrity="{{- $css2.Data.Integrity -}}">

{{- else -}}

<link rel="stylesheet" type="text/css" href="{{- $css.Permalink  | relURL -}}">
<link rel="stylesheet" type="text/css" href="{{- $css1.Permalink | relURL -}}">
<link rel="stylesheet" type="text/css" href="{{- $css2.Permalink | relURL -}}">
{{- end -}}

<!-- В настройках - включить (true/false) пользовательские стили  -->
{{- if .Site.Params.customCSS -}}
<link rel="stylesheet" type="text/css" href="{{ "css/custom.css" | relURL }}">
{{- end -}}
