  {{- define "main" -}}
  <section class="px-3 text-center">
    {{- $homepage   := .Site.Params.homepage -}}
    {{- $title      := index $homepage "title" -}}
    {{- $subtitle   := index $homepage "subtitle" -}}
    {{- $image      := index $homepage "image" -}}
    {{- $summary    := index $homepage "summary" -}}
    <h1>{{- $title -}}</h1>
    <div class="row justify-content-between pt-5">
      <div class="col-md-6 align-self-center">
        {{- with $subtitle -}}
        <h2 class="text-muted">
          {{ . }}
        </h2>
        {{- end -}}
        <p class="lead text-start">
          {{- $summary -}}
        </p>
      </div>
      <div class="col-md-6">
        <figure class="card-umage-top">
				 {{- $img := resources.Get $image -}}
          <img src="{{- $img.Permalink | relURL -}}" alt="Myself" width="100%">
				
          <figcaption class="figure-caption text-end">«Полдень — прогулка у моря». Художник Елена Баева. 2022 г.</figcaption>
        </figure>
       
      </div>
    </div>
<!--
    <p class="lead pt-5">
      <a href="/about/" class="btn btn-lg btn-outline-info fw-bold">Подробнее
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
     </a>
    </p>
-->
</section>
{{- end -}}
