<header class="mb-auto">
<div class="row flex-nowrap justify-content-between align-items-center rfi-navbaroff">
    <div class="col">
    <a class="navbar-brand" aria-current="page" href="{{ "/" | relURL }}">
      {{- if .Site.Params.logo -}}
      {{- $out_fo  := "brand.svg" -}}
      {{- $img_n   := .Site.Params.logo -}}
      {{- $type    := lower (substr $img_n (sub (len $img_n) 3) (len $img_n)) -}}
      {{- $img     := resources.Get $img_n -}}
      {{- if eq $type "svg" -}}
      {{- $img    = $img | resources.ExecuteAsTemplate $out_fo . }}
      {{- end -}}
      <img src="{{- $img.Permalink | relURL -}}" class="d-inline-flex align-top me-0" alt="brand">
      {{- end -}}
        {{- if .Site.Params.title -}}
      <span class="navbar-brand-logotitle">
        {{ .Site.Params.title }}
      </span>
      {{- end -}}
    </a>
  </div>
<div class="col d-flex justify-content-end align-items-center me-4">
  {{- partial "navbar/navsidebar-params.html" . -}}
</div>
</div>
<div class="rfi-navbaroff">
  {{- partial "navbar/navscroller.html" . -}}
</div>
</header>
