{{- $classRFI := .Get 0 | default "row-cols-sm-3 row-cols-md-6" -}}
<section class="gallerylux py-3">
  <div class="row row-cols-1 {{ $classRFI }} g-3">
    {{/* отбор изображений только *.jpg из директории images */}}
    {{ with .Page.Resources.Match "images/*" }}
    {{ range . }}
    <div class="col">
      <div class="card border-0">
        <a href="{{ .RelPermalink }}">
          <img src="{{ .RelPermalink }}" class="card-img-top rounded-0" alt="...">
        </a>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>