{{- /*
Usage: `youtube_2 "type" "imgFileName_one" "imgFileName_two"`
*/ -}}

{{- $imgFileName_one := .Get 0 -}}
{{- $imgFileName_two := .Get 1 -}}

<div class="row row-cols-1 row-cols-sm-2 g-4 pb-4">
  <div class="col">
    <div class="card h-100 border-0">
      <a href="images/{{ $imgFileName_one }}">
      <img src="images/{{ $imgFileName_one }}" class="card-img-top" alt="...">
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 border-0">
      <a href="images/{{ $imgFileName_two }}">
      <img src="images/{{ $imgFileName_two }}" class="card-img-top" alt="...">
      </a>
    </div>
  </div>
</div>