{{- /*
По умолчанию включает поддержку 25%, 50%, 75%, 100% и auto
Usage: `imgFloat "type" "imgFileName_one" "right"`
*/ -}}
{{ $imgFileName_one := .Get 0 }}
{{ $imgFloat := .Get 1 }}
{{ $imgWidth := .Get 2 }}
{{ $imgTxt_One := .Get 3 }}

<div class="{{ $imgFloat }} w-{{ $imgWidth }}">
  <figure>
    <a href="{{ $imgFileName_one }}">
      <img src="{{ $imgFileName_one }}" class="card-img-top" alt="...">
    </a>
    <figcaption class="figure-caption mt-1">
      {{ $imgTxt_One }}
    </figcaption>
  </figure>
</div>