{{- /*
Usage: `youtube_2 "type" "videoId_one" "right"`

1x1 4x3 16x9 21x9
*/ -}}

{{ $videoId_one := .Get 0 }}
{{ $videoFloat := .Get 1 }}
{{ $videoSize := .Get 2 }}
{{ $videoTxt_One := .Get 3 }}

<div class="w-50 float-{{ $videoFloat }}">
  <div class="card border-0">
    <div class="ratio ratio-16x9 mb-1">
      <iframe src="https://www.youtube.com/embed/{{ $videoId_one }}" title="VK video" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="w-50 float-start me-3">
  <div class="card border-0">
    <div class="ratio ratio-4x3 mb-1">
      <iframe src="{{ $videoId_one }}" title="VK video" allowfullscreen>
      </iframe>
    </div>
    <figcaption class="figure-caption mt-1">
      {{ $videoTxt_One }}
    </figcaption>
    </figure>
  </div>
</div>