// Font Golos Text: Copyright ? ParaType, 2018. (http://www.paratype.com)
// SIL OPEN FONT LICENSE Version 1.1

@font-face {
	font-family: 'Golos Text';
	src:
		url('../fonts/golos-text/Golos-Text_Black.woff2') format('woff2'),
		url('../fonts/golos-text/Golos-Text_Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Text';
	src:
		url('../fonts/golos-text/Golos-Text_Bold.woff2') format('woff2'),
		url('../fonts/golos-text/Golos-Text_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Text';
	src:
		url('../fonts/golos-text/Golos-Text_DemiBold.woff2') format('woff2'),
		url('../fonts/golos-text/Golos-Text_DemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Text';
	src:
		url('../fonts/golos-text/Golos-Text_Medium.woff2') format('woff2'),
		url('../fonts/golos-text/Golos-Text_Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Text';
	src:
		url('../fonts/golos-text/Golos-Text_Regular.woff2') format('woff2'),
		url('../fonts/golos-text/Golos-Text_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos Text VF';
	src:
		url('../fonts/golos-text/Golos-Text_VF.woff2') format('woff2'),
		url('../fonts/golos-text/Golos-Text_VF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
