// Font Golos UI: Copyright ? ParaType, 2018. (http://www.paratype.com)
// SIL OPEN FONT LICENSE Version 1.1

@font-face {
	font-family: 'Golos UI';
	src:
		url('../fonts/golos-ui/Golos-UI_Bold.woff2') format('woff2'),
		url('../fonts/golos-ui/Golos-UI_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos UI';
	src:
		url('../fonts/golos-ui/Golos-UI_Medium.woff2') format('woff2'),
		url('../fonts/golos-ui/Golos-UI_Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos UI';
	src:
		url('../fonts/golos-ui/Golos-UI_Regular.woff2') format('woff2'),
		url('../fonts/golos-ui/Golos-UI_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Golos UI';
	src:
		url('../fonts/golos-ui/Golos-UI_VF.woff2') format('woff2'),
		url('../fonts/golos-ui/Golos-UI_VF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
